<h1>These are the codealongs for <%= @language.name %></h1>
<ul class="data">
  <% @language.codealongs.each do |ca| %>
  <li>
    <strong>
    <%= ca.location %>
  </strong> <%= ca.date %>
  </li>
  <li>
    <%= ca.description %>
  </li>
  <li>
      <%= link_to "View Codealong", codealong_path(ca), :class => "btn btn-primary navbar-btn" %>
    </button>
  </li>
  <% end %>
  <li>
    <h3 style="margin-top:8%;">Dont see an codealong close to you?<br>
      <%= link_to 'Create a New Codealong', new_codealong_path, :class => "btn btn-info navbar-btn" %>
    </h3>
  </li>
</ul>
