<div class="panel panel-default" style="padding:2%; background-color:#dbeeff; margin-top:3%;">
    <div class="panel-body">
      <h1>Codealong Profile</h1>
        <strong><%= @user.username %></strong>
        <ul>
            <li>
                <strong>
                    Programmer:</strong><br>
                <%= @user.first_name %>
                <%= @user.last_name %>
            </li>
            <strong>Gender:</strong><br><%= @user.gender %>
            <li>
                <strong>A bit about
                    <%= @user.first_name %>
                </strong><br>
                <%= @user.description %>
            </li>
            <li>
              <strong>Codealongs I am going to:</strong>
              <ul>
                <% @user.codealongs.each do |codealong| %>
                  <li><%= codealong.location %></li>
                  <li><%= codealong.date.strftime("%A, %B %d, %Y") %></li>
                <% end  %>
              </ul>
            </li>
        </ul>
    </div>
</div>
