<div class="panel panel-default" style="padding:2%; background-color:#dbeeff; margin-top:3%;">
    <div class="panel-body">
      <h1>Codealong Profile</h1>
        <strong><%= @user.username %></strong>
        <ul>
            <li>
                <strong>
                    Programmer:</strong><br>
                <%= @user.first_name %>
                <%= @user.last_name %>
            </li>
            <strong>Gender:</strong><br><%= @user.gender %>
            <li>
                <strong>A bit about
                    <%= @user.first_name %>
                </strong><br>
                <%= @user.description %>
            </li>
        </ul>
    </div>
</div>
