<h1><%= @user.username %></h1>
<ul id="profile">

    <li>
      <strong>
      <%= @user.first_name %> <%= @user.last_name %>
    </strong>
    </li>
    <%= @user.gender %>
    <li>
      <%= @user.description %>
    </li>
  <% @user.codealongs.each do |codealong| %>

  <li>
    <%= codealong.location %>

    <% codealong.users.each do |user| %>
    <li>
      <strong>
      <%= @user.first_name %> <%= @user.last_name %>
    </strong>
    </li>
    <% end %>
  </li>

  <% end %>


    <%#= render 'snippets/form' %>
  <li>
    <%= link_to 'Create a New Codealong', new_codealong_path %>
  </li>
</ul>
