<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DEV CODEALONGS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Profile <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <button type="button" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Codealongs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
          <!-- Sign-in thing on top -->
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <% if user_signed_in? %>
                <div>Signed in as <%= current_user.email %></div>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              <% else %>
                <%= form_for(:user, :url => session_path(:user)) do |f| %>
                  <%= f.text_field :email %>
                  <%= f.password_field :password %>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                  <%= f.submit 'Sign in' %>
                  <%= link_to "Forgot your password?", new_password_path(:user) %>
                <% end %>
              <% end %>
            </div>
            <!-- Show links to login, sign-up OR if user signed in show edit profile and sign-out -->
            <p align="right">
              <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
              <% end %>
            </p>

          </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
