<div class="panel-group">
   <div class="panel panel-default" style="padding:2%;">
     <%= image_tag("comments.png", :alt => "comment bubble") %>
     <strong>View Codealong Comments:</strong>
    <ul>
      <% @codealong.messages.each do |message| %>
      <li><h4><u><%= message.user.first_name %> <%= message.user.last_name %></u></h4></li>
      <li><%= message.content %></li>
      <li><hr></li>
      <% end %>
    </ul>
  </div>

<div class="panel panel-primary">
<div class="panel-heading"><p>Create a new comment below</p></div>
    <div class="panel-body paddng">
<%= form_for [@codealong, @message] do |f| %>
  <div>
    <strong><%= f.label 'New Comment' %></strong><br>
     <%= f.text_area :content, :class => "form-control", :rows => "5", :id => "comment" %>
  </div>
    <%= f.submit "Add this comment", :class => 'btn btn-primary navbar-btn' %>

<% end %>
</div>
</div>

</div>
