<h1>Different Codealongs for Javascript</h1>

<ul class="data">
  <% @codealongs.each do |codealong| %>
    <li>
      <strong>
        <%= codealong.location %>
      </strong> <%= codealong.date %>
    <li>
      <%= codealong.description %>
    </li>
    <li>
      <%= link_to 'View', codealong, :class => 'btn btn-default navbar-btn' %>

      <button type="button" class="btn btn-default navbar-btn"><%= link_to "Edit", edit_codealong_path(codealong.id) if codealong.users.first == current_user  %></button>

      <button type="button" class="btn btn-default navbar-btn"><%= link_to "Delete this codealong", codealong_path(codealong), method: :delete, data: {confirm: "Are you sure you want to delete this codealong?"} if codealong.users.first == current_user %></button>
    </li>
  <% end %>
</ul>

<%= link_to 'New Codealong', new_codealong_path %>
