<h1>Add a new Codealong location and time!</h1>

<%= form_for @codealong do |f| %>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div>

    <%= f.label :date %> (Must be create a week prior to the event)
    <%= f.text_field :date %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :language %>
    <%= f.collection_select :language_id, @languages, :id, :name %>
  </div>
    <%= f.submit "Add this codealong" %>

<% end %>
 <p>
   Warning: if codealongs do not gather more than 15 attendees by one week, this codealong will not be allowed to take place.
 </p>

 <%= link_to "Click to go back to more codealongs!", codealongs_path %>
